:root {
	--separator-color: #616161;
	--input-border-color: #666;
	--background: #222;
	--button-background: #555;
	--color: #fff;
	--input-background: #111;
	--link-color: #5e9aff;
	--color-dimmer: #d9d9d9;
}

body {
	background: var(--background);
	color: var(--color);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
}

a,
button,
input {
	color: var(--color);
}

a,
button {
	cursor: pointer;
}

button,
input {
	border: 1px solid var(--input-border-color);
	border-radius: 4px;
}

button {
	background: var(--button-background);
}

input {
	background: var(--input-background);
}
