.issue:not(:first-child) {
	padding-top: 0.75em;
	border-top: 1px solid var(--separator-color);
}

.issue-repo {
	display: flex;
	align-items: center;
	gap: 0.35em;
}

.issue-repo svg {
	width: unset;
	height: 1.25em;
	transform: translateY(1px);
	color: var(--color-dimmer);
}

.issue.open .issue-repo svg {
	color: var(--button-background);
}

.issue-repo a {
	font-size: 85%;
	color: var(--color-dim);
	text-decoration-color: var(--color-dimmer);
}

.issue-repo,
.issue-title {
	margin-bottom: 6px;
}

.issue-title a {
	text-decoration: none;
	font-weight: 600;
}

.issue-info {
	font-size: 85%;
	color: var(--color-dim);
}