.issue:not(:first-child) {
	padding-top: 0.75em;
	border-top: 1px solid var(--separator-color);
}

.issue-repo a {
	font-size: 85%;
	color: var(--color-dim);
	text-decoration-color: var(--color-dimmer);
}

.issue-repo,
.issue-title {
	margin-bottom: 6px;
}

.issue-title a {
	text-decoration: none;
	font-weight: 600;
}

.issue-info {
	font-size: 85%;
	color: var(--color-dim);
}