#actions {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	column-gap: 0.5em;
	row-gap: 0.75em;
}

#actions input,
#actions button {
	padding: 4px 8px;
}

#actions > * {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
}

#actions .link-button {
	border: none;
	background: none;
	text-decoration: underline;
	margin: 0;
	padding: 0;
}

#tabs {
	display: flex;
	margin-top: 2em;
}

.tab {
	border: none;
	background: none;
	font: inherit;
	padding: 4px 0.5em;
	border-top: 1px solid transparent;
	border-bottom: 1px solid var(--tab-color);
	border-radius: 0;
}

.tab.selected {
	padding: 4px 0.5em;
	border: 1px solid var(--tab-color);
	border-bottom: 1px solid transparent;
}

.filler {
	flex: 1;
	border-bottom: 1px solid var(--tab-color);
}

#issue-list {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
	margin-top: 1em;
}

.error-title {
	margin: 0 0 1rem 0;
	color: #cf2b2b;
	font-size: 125%;
	font-weight: bold;
}
