#actions {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	column-gap: 0.5em;
	row-gap: 0.75em;
	align-items: center;
}

#tabs {
	margin-top: 2em;
}

#issue-list {
	margin-top: 1em;
}
