.list-tabs {
	display: flex;
}

.tab {
	border: none;
	background: var(--background);
	font: inherit;
	padding: 4px 0.5em;
	border-top: 1px solid transparent;
	border-bottom: 1px solid var(--tab-color);
	border-radius: 0;
}

select.tab {
	max-width: 8em;
}

.tab.selected {
	padding: 4px 0.5em;
	border: 1px solid var(--tab-color);
	border-bottom: 1px solid transparent;
}

.tab-filler {
	flex: 1;
	border-bottom: 1px solid var(--tab-color);
}
